.list-container {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    .heading {
        padding: 10px 5px;
        background-color: #a5a6b7;
        font-weight: bold;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cpt-container {
        max-height: 200px;
        overflow-y: scroll;
    }

    .content:nth-child(even) {
        background-color: #f5f5f5;
    }

    .content {
        padding: 10px 5px;
        border-bottom: 1px solid rgb(142 142 159);
    }

    .content label {
        margin-left: 5px;
    }
}

.none {
    display: none;
}

.lookup-container {
    padding-bottom: 5px;
    .heading {
        background-color: #ADC3C9;
        padding: 10px;
    }
}

table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}