<div class="row">
    <div *ngFor="let item of data; let i = index" 
    class="col-lg-6 col-sm-12 col-xs-12">
        <div class="list-container" *ngIf="item.cpts && item.cpts?.length > 0">
            <div class="heading">{{item.description}}</div>
            <div class="cpt-container">
                <div *ngFor="let list of item.cpts; let j = index">
                    <div class="content">
                        <input class="form-check-input" type="checkbox" [name]="list.code"
                            [id]="list.code" (change)="selectCptCodes($event, list, list.code)">
                        <label class="form-check-label ml-4" [for]="list">
                            {{list.description}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="selectedCptCodes.length > 0">
    <div class="col-lg-12">
        <div class="lookup-container">
            <div class="d-flex align-items-center justify-content-between heading">
                <span class="cl-black">Charges</span>
                <div>
                    <button type="button" class="btn btn-primary ml-5" (click)="saveEncounter()">Save Encounter</button>
                </div>
            </div>
            <table>
                <tr>
                    <th>CPT</th>
                    <th>ICDs</th>
                    <th>Fee</th>
                    <th>Currency</th>
                </tr>
                <tr *ngFor="let cpt of selectedCptCodes; let i = index">
                    <td>{{cpt.code}}</td>
                    <td>
                        <span *ngFor="let icd of icdCodes; let j = index">
                            <span>{{icd}}</span>
                            <span *ngIf="j < icdCodes.length - 1">, </span>
                        </span>
                    </td>
                    <td>{{cpt.rate}}</td>
                    <td>USD</td>
                </tr>
            </table>
        </div>
    </div>
</div>