<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <div class="title-wrapper">
            <span class="cl-blue">Chief Complaint: </span>
            <span class="cl-orange">Vertigo</span>
            <span class="cl-black"> on 03/23/2016</span>
        </div>
        <!-- <div class="d-flex">
            <div>
                <mat-form-field appearance="fill" class="ml-5">
                    <mat-label>Neurology</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let item of list" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="ml-5 mr-5">
                <mat-form-field appearance="fill" class="ml-5">
                    <mat-label>Encounter</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let item of encounterList" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
    </div>

    <div>
        <mat-tab-group [@.disabled]="true" (selectedTabChange)="onTabChanged($event);">
            <mat-tab [label]="item.name" *ngFor="let item of visitInfo; let i = index">
                <icd-details *ngIf="selectedIndex == 0" [data]="codeInfo"></icd-details>
                <cpt-details *ngIf="selectedIndex == 1" [data]="codeInfo"></cpt-details>
                <claim-details *ngIf="selectedIndex == 2" [data]="codeInfo"></claim-details>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>